.card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: var(--br-small);
  transform-style: preserve-3d;
  transition: 0.3s;

  &:hover {
    transform: scale(1.02);
    opacity: 0.75;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* Variant */
.catalogue {
  img {
    object-position: top center;
  }
}
