.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__main {
    padding: 40px 20px;
    flex-grow: 1;
    color: var(--primary-text);
    background: linear-gradient(
      180deg,
      var(--primary-black) 0%,
      var(--secondary-black) 100%
    );
  }
}
