.text {
  padding: 200px 30px;
}

.container {
  margin: 50px auto;
  max-width: 1000px;
  border-radius: 16px;

  &__content {
    height: 100%;
    padding: 35px 30px;
    border-radius: 16px;
    background-color: var(--primary-black);

    h2 {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--primary-yellow);
    }

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        width: 45%;
        margin-bottom: 15px;
        display: flex;
        column-gap: 15px;

        span {
          &:nth-child(1) {
            width: 150px;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
