.details {
  min-height: 100px;
  padding: 30px 20px;
  position: relative;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--secondary-black);
  color: var(--primary-text);

  p {
    font-size: 14px;
    letter-spacing: 1.3px;
  }

  span {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: normal;
    color: var(--primary-yellow);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      to bottom,
      transparent,
      rgba(255, 255, 255, 0.05) 20%,
      rgba(255, 255, 255, 0.15) 90%
    );
    border-radius: inherit;
  }
}
