.section {
  margin: 50px auto;
  width: 90%;
  border-radius: 16px;

  @media (min-width: 768px) {
    max-width: 1000px;
  }

  &__content {
    height: 100%;
    padding: 35px 25px;
    border-radius: 16px;
    background-color: var(--primary-black);

    @media (min-width: 768px) {
      padding: 35px;
    }

    h2 {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--primary-yellow);
    }
  }
}
